<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup page</title>
    <script src="../AJAX-calls-express-jquery-API/scripts/jquery.js"></script>
    <link rel="stylesheet" href="../AJAX-calls-express-jquery-API/scripts/style.css">
    <script src="../AJAX-calls-express-jquery-API/scripts/post.js"></script>
</head>
<body>
<div>
<div>
    <label>Username</label>
    <input type="text" placeholder="username" id="name"/>
</div>
<div>
    <label>Age</label>
    <input type="text" placeholder="age" id="age"/>
</div>
<input type="button" value="submit" id="btn">
</div>
<table>

    <thead >
    <tr>
        <td>Name</td>
        <td>Age</td>
    </tr>
    </thead>
    <tbody id="displayTable">

    </tbody>
</table>
    <script src="/AJAX-calls-express-jquery-API/scripts/main.js"></script>
</body>



</html>